<h1>Listing item_transactions</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Item creation time</th>
    <th>Item checkin time</th>
    <th>Item checkout time</th>
    <th>Item deletion time</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_transactions.each do |item_transaction| %>
  <tr>
    <td><%= item_transaction.item_id %></td>
    <td><%= item_transaction.item_creation_time %></td>
    <td><%= item_transaction.item_checkin_time %></td>
    <td><%= item_transaction.item_checkout_time %></td>
    <td><%= item_transaction.item_deletion_time %></td>
    <td><%= item_transaction.user_id %></td>
    <td><%= link_to 'Show', item_transaction %></td>
    <td><%= link_to 'Edit', edit_item_transaction_path(item_transaction) %></td>
    <td><%= link_to 'Destroy', item_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item transaction', new_item_transaction_path %>
