<h1>Listing subscriptions</h1>

<table>
  <tr>
    <th>References</th>
    <th>Amount</th>
    <th>Strip customer token</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subscriptions.each do |subscription| %>
  <tr>
    <td><%= subscription.references %></td>
    <td><%= subscription.amount %></td>
    <td><%= subscription.strip_customer_token %></td>
    <td><%= link_to 'Show', subscription %></td>
    <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
    <td><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subscription', new_subscription_path %>
