<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Date collected:</b>
  <%= @item.date_collected %>
</p>

<p>
  <b>Checked in:</b>
  <%= @item.checked_in %>
</p>

<p>
  <b>Checked out:</b>
  <%= @item.checked_out %>
</p>

<p>
  <b>Checked out by:</b>
  <%= @item.checked_out_by %>
</p>

<p>
  <b>Tag number:</b>
  <%= @item.tag_number %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
