<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Collexion Collector</title>
  <meta name="description" content="hackerspace inventory mgmt system">
  <meta name="author" content="Collexion">

  <meta name="viewport" content="width=device-width">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= csrf_meta_tags %>


</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Collexion Collector</a>
          <div class="nav-collapse">
            <ul class="nav">
              <% if user_signed_in? %>
                <%= nav_link "Howdy, #{current_user.username}", edit_user_registration_path %>
                <%= nav_link 'Items', items_path %>
                <% if user_signed_in? && current_user.admin? %>
                  <li class="dropdown">
                  <a href="#"
                        class="dropdown-toggle"
                        data-toggle="dropdown">
                        Advanced
                        <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li>Advanced Setting 1</li>
                    <li>Advanced Setting 2</li>
                  </ul>
                </li>
                <% end %>
                <li>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                </li>
              <% else %>
                <li>
                <%= link_to('Login', new_user_session_path)  %>
                </li>
                <li>
                  <%= link_to('Sign up', new_user_registration_path)  %>
                </li>
              <% end %>
              <!-- <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row">
        <div class="span12">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>

      <hr>

      <footer>
        <%= link_to "privacy", pages_privacy_path %> | <%= link_to "terms", pages_terms_path %> | <%= link_to "about", pages_about_path %></p>
      </footer>

    </div> <!-- /container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>